* { user-select: none }





h1 {
	padding: 1rem 1.25rem 1.5rem 1.25rem !important;
}





.notif {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	min-width: 2.5rem;
	min-height: 2.5rem;
	margin-right: 1.25rem;
}

.status span {
	font-size: 1.5rem;
}

.status span span {
	font-size: 1rem;
	display: block;
	color: red;
}





#log {
	height: 50vh;
	max-height: 50vh;
	overflow: auto;
	background-color: var(--color-body);
	box-shadow: inset 0 0rem 0.25rem rgba(0, 0, 0, 0.4) !important;
}

#log p {
	margin-bottom: 0.5rem !important;
	padding-left: 1rem !important;
}
#log p:last-child {
	margin-bottom: 1rem !important;
}

#log p.head {
	padding-left: 0 !important;
	padding-top: 1rem !important;
}
