*:not(input):not(select):not(textarea) { user-select: none }





body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    text-align: center;
    padding: 1rem;
}





#inverterUnknown {
    max-width: 720px;
    background-color: var(--color-main);
    text-align: center;
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.25rem;
}

#inverterUnknown h1 {
    font-weight: 400;
    margin-bottom: 4rem;
}

#inverterUnknown > div {
    max-width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inverterUnknown .notif {
    display: block;
}

#inverterUnknown .message {
    font-size: 1.5rem;
    margin-left: 1rem;
    line-height: 1.1;
    text-align: left;
}





#inverterDetected {
    max-width: 500px;
}

#inverterDetected h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}
#inverterDetected h1 span.x {
    color: #92e503;
}

#inverterDetected img {
    display: block;
    width: 225px;
    height: 225px;
    margin-left: auto;
    margin-right: auto;
}

#inverterDetected .serialnumber {
    display: block;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}





#inverterDetected .standard-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

#inverterDetected .standard-cont .notif {
    margin-right: 1rem;
}
#inverterDetected .standard-cont .standard {
    font-size: 1.5rem;
}

#inverterDetected #machineModelBox,
#inverterDetected #germanyMachineModelBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
#inverterDetected #machineModelSelect,
#inverterDetected #germanyMachineModelSelect {
    height: 2.5rem;
    width: 10rem;
    font-weight: bold;
    /*border-top-right-radius: 0;
    border-bottom-right-radius: 0;*/
    border-width: 2px;
    padding: 0 0 0 0.5rem;
}
#inverterDetected #machineModelBtn,
#inverterDetected #germanyMachineModelBtn {
    height: 2.5rem;
    margin-left: 0.25rem;
    /*border-top-left-radius: 0;
    border-bottom-left-radius: 0;*/
    padding: 0 0.75rem 0 0.75rem;
    width: auto;
}

#inverterDetected .cert-loading {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}
