*:not(input):not(select):not(textarea) { user-select: none }





h1 {
	font-size: 1.5rem;
	padding: 1rem 1.25rem 1rem 4.5rem !important;
	background-repeat: no-repeat;
	background-position: 1.25rem center;
	background-size: 2rem;
}

#solar   h1 { background-image: url(../img/ic_solar.png  ); }
#battery h1 { background-image: url(../img/ic_battery.png); }
#bxHome  h1 { background-image: url(../img/ic_bxHome.png ); }

#steuve  h1 { background-image: url(../img/ic_steuve.png ); }

.vde4105 h1 { background-image: url(../img/ic_vde4105.png); }
.tor     h1 { background-image: url(../img/ic_tor.png    ); }

.card { height: calc(100% - 3.75rem) !important; }
.card .card-body { flex: 0 auto; }
.card .btn:hover { background: rgba(0, 0, 0, 0.10); }

#battery_section_9 span { line-height: 1.2; }

textarea {
	font-size: 0.875rem !important;
	min-height: 120px !important;
}

.setting-progress span {
	font-size: 1.25rem;
	margin-left: 1rem;
}

#bxHome.can-import-cloud-data .main-card {
	height: calc(100% - 3.75rem - 4.5rem) !important;
}
#bxHome.can-import-cloud-data .import-data-card {
	display: block !important;
}





#bx_device,
#bx_box,
#system_co_sn,
#lifepo_bms,
#lifepo_serialnumbers {
	text-transform: uppercase;
}

#lifepo_bms {
	min-height: 35px !important;
}

#lifepo_serialnumbers {
	min-height: 360px !important;
}
